/* @font-face {
  font-family: bigText;
  src: url(./Rejouice-headline.ttf);
} */
.nav-item .active {
  /* border-bottom: 1px solid #1a1a1a; */
  color: #c68a2e !important;
  /* font-weight: bold; */
}
.navFont{
  background-color: #f0f8ff;
  color: black;
}
.homeCardsImg{
  height: 280px;
  width: 200;
}
.my-card-img{
  /* object-fit: cover; */
  height: 280px;
  width: 250px;
  transition: all ease 1s;
}
.my-card-img:hover{
  transform: scale(1.2);
}
.cart-img{
  object-fit: cover;
}
.bg{
  background-image: url(bg.jpg);
  background-size: cover;
}
.button:hover{
  scale: 0.9;
  transition: all ease 0.2s;
}
.error{
  background-image: url(404.png);
  background-size: cover;
}
/* .home-bg{
  background-image: url(homebg.png);
  background-size: cover;
  background-position: center;
} */
.homecart{
  object-fit: cover;
  background-size: cover;
}
.videoBg{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
.content{
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #ffff;
  background-color: rgba(0, 0, 0, 0.301);
}
.help{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 2vw 3vw;
}
.homeMainFont{
  font-size: 20vw;
  /* font-family: bigText; */
}
/* .cursor{
  height: 3vw;
  width: 3vw;
  background-color: #ff5f38;
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
} */