
.nav-item .active {
  /* border-bottom: 1px solid #1a1a1a; */
  color: #ffa116 !important;
  /* font-weight: bold; */
}
.my-card-img{
  object-fit: cover;
  height: 200px;
  transition-duration: 0.3;
}
.my-card-img:hover{
  transform: scale(1.1);
}
.cart-img{
  object-fit: cover;
}
.bg{
  background-image: url(bg.jpg);
  background-size: cover;
}
.carousel-img{
  background-size: cover;
}
.button:hover{
  scale: 0.9;
  transition: all ease 0.2s;
}
.error{
  background-image: url(404.png);
  background-size: cover;
}
.home-bg{
  background-image: url(homebg.png);
  background-size: cover;
  background-position: center;
}
.homecart{
  object-fit: cover;
  background-size: cover;
}