.nav-item .active {
  /* border-bottom: 1px solid #1a1a1a; */
  color: #c68a2e !important;
  /* font-weight: bold; */
}
.navFont{
  background-color: #f0f8ff;
  color: black;
}
.homeCardsImg{
  height: 300px;
  /* object-fit: cover; */
}
.vdo{
  width: 300px;
  height: 291px;
  object-fit: cover;
}
.my-card-img{
  /* object-fit: cover; */
  height: 300px;
  width: 277px;
  transition: all ease 1s;
}
.my-card-img:hover{
  transform: scale(1.2);
}
.cart-img{
  object-fit: cover;
}
.bg{
  background-image: url(bg.jpg);
  background-size: cover;
}
.button:hover{
  scale: 0.9;
  transition: all ease 0.2s;
}
.error{
  background-image: url(404.png);
  background-size: cover;
}
.homecart{
  object-fit: cover;
  background-size: cover;
}
.videoBg{
  height: 102.5%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
.content{
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #ffff;
  background-color: rgba(0, 0, 0, 0.45);
}
.help{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 2vw 3vw;
}
.homeMainFont{
  font-size: 17vw;
}
.page2{
  height: 250px;
}

/* footer CSS */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.github:hover
{
  background-color:#3b5998
}
.social-icons a.instagram:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}