
.nav-item .active {
  border-bottom: 2px solid crimson;
  color: crimson !important;
  font-weight: bold;
}
.my-card-img{
  object-fit: cover;
  height: 200px;
  transition-duration: 0.3;
}
.my-card-img:hover{
  transform: scale(1.1);
}
.cart-img{
  object-fit: cover;
}
.bg{
  background-image: url(bg.jpg);
  background-size: cover;
}